body{
    background-color: lightgray;
}

body>img{
    margin: -20px 0px 0px 0px;
    width: 1349px;
}

.redColor{
    color: red;
}

#back-to-top{
    font-size: 55px;
    text-decoration: none;
    z-index: 2;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    color: rgba(0, 229, 230, 0.5)!important;
}

#back-to-top:hover{
    color: rgba(0, 76, 77, 3)!important;
}

/* CSS for Header */
.navbar-inverse{
    background-color: #336699;
    border-radius: inherit;
}

.navbar-brand{
    padding: 0px 0px 0px 10px;
}

button.nav.navbar-nav.navbar-right, button.nav.navbar-nav.navbar-right:hover, 
button.nav.navbar-nav.navbar-right:visited{
    background-color: inherit !important;
    outline: none;
}

button.nav.navbar-nav.navbar-right{
    border: 0px;
    height: 50px;
}

.navbar-nav>.fa-shopping-cart{
    color: white;
    padding-right: 5px;
}

.navbar.navbar-inverse .dropdown{
    z-index:2;
    position: absolute;
    padding: 0px;
}

.navbar.navbar-inverse .dropdown>.dropdown-menu{
    border-radius: 0px;
    text-align: center;
    padding: 10px;
}

.navbar-nav .badge{
    background-color: white;
    color: red;
    position: absolute;
    z-index: 1;
    margin: 9px 0px 0px 9px;
}

.fa-home{
    color: white;
}

.button{
    width: 80px;
}

.header-textbox{
    width: 200px;
}

.header-textbox>.form-control{
    padding: 6px 12px 6px 12px;
}

#logout{
    padding: 15px;
    text-decoration: none;
    display: none;
}

/* CSS for Footer */
.footer .panel{
    background: rgba(0, 0, 0, 0.8)!important;
    color: white;
    margin: 0px;
    border-radius: 0px;
}

.footer .panel p>a{
    text-decoration: none;
    color: white;
}

.footer .panel p>a:hover{
    color: #00b2b3;
}

/* CSS for Top */
#body{
    margin-bottom: 15px;
}

.nav-pills{
    background-color: #002266;
}

.nav-pills li{
    margin: 0px !important;
}

.nav-pills>li>a{
    color: white;
    font-weight: bold;
    border-radius: inherit;
}

.nav-pills>li>ul.dropdown-menu{
    border-radius: inherit;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.nav-pills>li>ul.dropdown-menu>li>a{
    font-size: 17px;
}

.nav-pills>li>a:hover, .nav-pills>li>ul.dropdown-menu>li>a:hover{
    background-color: #00b2b3 !important;
    color: white;
}

.nav-pills>li>a:visited, .nav-pills>li.dropdown>a:visited{
    background-color: #00b2b3 !important;
}

.nav-pills>li>a.forFA{
    padding: 6px 15px 5px 15px;
    height: 40px;
}

.list-group{
    margin-top: 15px;
}

/* CSS for Left Menu */
#left .list-group{
    border: 1px solid;
    border-color: gray;
    border-radius: 3px;
}

#left .list-group .list-group-item{
    border: 0px;
    font-weight: bold;
    border-radius: 0px;
}

#left .list-group a.list-group-item:hover{
    background-color: #00b2b3;
    color: white;
}

#left>.list-group>.list-group-item>p>a:hover{
    text-decoration: none;
    color: #00b2b3;
}

.list-group-item.title{
    text-align: center;
    background-color: #538cc5;
    color: white;
    font-weight: bold;
    border-radius: 0px;
}

.list-group-item>.badge{
    background-color: white;
    color: #336699;
}

.list-group-item.center{
    text-align: center;
}

.list-group-item.center>p{
    font-size: 20px;
    font-weight: bold;
}

.list-group-item.center>p.title{
    background-color: #ff0000;
    color: white;
    font-weight: normal;
}

.list-group-item.center>p>.fa{
    font-size: 30px;
}

.list-group-item.center>p>a{
    color: black;
    text-align: center;
}

.form-inline.navbar-right{
    margin: 3px 15px 0px 0px;
}

#left div.dropdown{
    position: absolute;
}

#left div.dropdown>ul.dropdown-menu{
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    font-size: 17px;
}

#left div.dropdown>ul.dropdown-menu>li>a:hover{
    background-color: #00b2b3;
    color: white;
}

/* CSS for Content Menu */
#content>.list-group-item{
    border: 0px;
}

#content>.list-group-item.content{
    padding: 10px 0px 10px 0px;
    background-color: lightgray;
}

#content>.list-group-item.title{
    font-size: 25px;
    background-color: #538cc5;
}

#content>.list-group-item.title>.badge{
    font-size: 20px;
    margin-top: 5px;
}

#content>.list-group-item.title .badge:hover, #content>.list-group-item.title .badge:active, *
#content>.list-group-item.title .badge:visited, #content>.list-group-item.title .badge>i{
    color: #538cc5;
}

#content div.product{
    display: inline-block;
    width: 193.156px;
    border: 3px solid;
    border-radius: 3px;
    border-color: #006666;
    padding: 20px 5px 20px 5px;
    height: 350px;
    font-size: 18px;
    background-color: white;
}

#content div.product>.productName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin: 10px 0px 20px 0px;
    font-weight: bold;
}

#content div.product>.productName>p{
    position: relative;
}

#content .item{
    text-align: center;
}

#content .item i{
    font-size: 18px;
}

.price{
    padding: 5px 0px 5px 0px;
    margin: 20px 0px 20px 0px;
    color: white;
    background-color: red;
}

.addCart{
    padding: 5px;
    background-color: #336699;
    border: 0px;
    border-radius: 2px;
    color: white;
}

.addCart:hover{
    background-color: #0033cc;
}

.btnDetail{
    color: #ff0000;
    position: absolute;
    display: none;
}

.btnDetail>.fa-search-plus{
    font-size: 50px !important;
}

.btnDetail:hover{
    color: #0033cc;
}

/* CSS for Register page */
.reg-form{
    margin-top: 15px;
}

.reg-form .form-group{
    margin-left: 45px;
    margin-right: 46px;
}

.reg-form .form-group.reg-form-group{
    margin-left: 0px;
    margin-right: 0px;
}

.reg-input-group{
    width: 400px;
    margin: 0px 10px 0px 45px;
    display: inline-block;
}

.reg-input-group>#captcha{
    cursor: pointer;
    width: 100%;
}

.reg-form>.panel, .reg-form>.panel.panel-primary>.panel-heading{
    margin: 0px;
    border-radius: 0px;
}

.btn-register{
    text-align: center;
}

.btn-register>.btn{
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
}

/* CSS for Product page */
#product>.panel-body{
    border: 0px;
    padding: 0px;
}

#product>.panel-body>.product{
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
    margin: 8px;
    width: 229px;
    height: 337px !important;
}

#product>.panel-body>.product>.productName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin: 10px 0px 20px 0px;
    font-weight: bold;
}

#product>.panel-body>.product>.productName>p{
    position: relative;
}

#product>.panel-body>.product>.addCart>.fa-shopping-cart{
    font-size: 18px;
}