body{
    background-color: #262626;
}

body>img{
    margin: -20px 0px 0px 0px;
    width: 1349px;
}

.redColor{
    color: red;
}

.greenColor{
    color: #00cc66;
}

#back-to-top{
    font-size: 55px;
    text-decoration: none;
    z-index: 2;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    color: rgba(0, 229, 230, 0.5)!important;
}

#back-to-top:hover{
    color: rgba(0, 76, 77, 3)!important;
}

.productImg{
    height: 160px;
}

.productImg>.img-reponsive{
    height: 160px;
    width: 160px;
}

.img-soldout{
    position: absolute;
    padding: 0px 0px 0px 5px;
}