/* CSS for Product page */
#product>.panel-body{
    border: 0px;
    padding: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#product>.panel-heading{
    background-color: #ff8080;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#product>.panel-body>.product{
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
    margin: 8px;
    width: 229px;
    height: 337px !important;
    background-color: rgba(242, 242, 242, 0.4);
    border-color: rgba(209, 209, 209, 0.2);
}

#product>.panel-body>.product>.productName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin: 10px 0px 20px 0px;
    font-weight: bold;
}

#product>.panel-body>.product>.productName>p{
    position: relative;
}

#product>.panel-body>.product>.addCart>.fa-shopping-cart{
    font-size: 18px;
}

#product>.panel.panel-body{
    margin-bottom: 0px;
}

#list{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#paging{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.pagination>li>a>label{
    margin: 0px;
    width: 8px !important;
    height: 20px !important;
    text-align: center;
}

.pagination{
    margin: 20px 20px 5px 20px;
}